/* Estilização do corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #000000; /* Fundo escuro */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Centralizar verticalmente */
    margin: 0;
}

/* Caixa centralizada */
.container {
    background-color: #474746;
    padding: 30px;
    border-radius: 10px;
   /* box-shadow: 0px 4px 10px rgba(250, 250, 250, 0.2); */
    text-align: left;
    width: 350px;
}

/* Centralizando os textos à esquerda */
h1 {
    text-align: center;
    color: #f8f9fc; 
    margin-bottom: 20px;
}

/* Cada campo (label + input) */
.campo {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

/* Estiliza as labels */
.campo label {
    width: 100px;
    font-weight: bold;
    color: white;
}

/* Caixa de entrada */
.campo input {
    flex: 1;
    padding: 8px;
    border: 1px solid #666;
    border-radius: 5px;
    background-color: #a09d9d;
    color: white;
}

/* Botão centralizado */
button {
    display: block;
    margin: 10px auto;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #1a3c72;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* Quando o mouse está sobre o elemento  */
button:hover {
    background-color: #4169e1; 
}
